<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jogger.module_mine">

    <application>
        <activity android:name=".activity.PreviewCardActivity">
        </activity>
        <activity android:name=".activity.SelectModeActivity">
        </activity>
        <activity android:name=".activity.MyBookActivity">
        </activity>
        <activity android:name=".activity.PublishCardActivity">
        </activity>
        <activity android:name=".activity.UserFollowersActivity">
        </activity>
        <activity android:name=".activity.UserWritersActivity">
        </activity>
        <activity android:name=".activity.UserCommentsActivity">
        </activity>
        <activity android:name=".activity.UserHomeActivity">
        </activity>
        <activity android:name=".activity.BookListActivity">
        </activity>
    </application>

</manifest>